.App {
  text-align: center;
}
.mainimage {
  background-image: url("https://i.imgur.com/Y5FKYwo.jpg");
  background-size: cover;
  height: 500px;
}
.background {
  background-color: gold;
}
.vinylicon {
  height: 50px;
}
.mainmenu {
  background-color: lightgrey;
  height: 80px;
}
