.img {
  height: 20px;
}

body {
  background: slategrey;
  background: linear-gradient(to right, slategrey, Gainsboro);
}
.btn-google {
  background-color: tomato;
}
.btn-facebook {
  background-color: #3b5998;
}
